# Challenge 1

In [5]:
def get_smaller(my_list, max_value='5'):
    """Return a list of all values smaller than max_value"""
    for element in my_list:
        low = []
        if element < max_value:
            low.append(element)
    return low

my_list = [5, 2, 12, 7, 3, 8]
get_smaller(my_list=my_list)

TypeError: '<' not supported between instances of 'int' and 'str'

Fixed:

In [9]:
def get_smaller(my_list, max_value=5):
    """Return a list of all values smaller than max_value"""
    low = []
    for element in my_list:
        if element < max_value:
            low.append(element)
    return print(low)

my_list = [5, 2, 12, 7, 3, 8]
get_smaller(my_list=my_list)

[2, 3]

# Challenge 2

In [12]:
def fizzbuzz(max_num):
    "This method implements FizzBuzz"
    three_mul = 'fizz'
    five_mul = 'buzz'
    num1 = 3
    num2 = 5 

    # Google for 'range in python' to see what it does
    for i in range(1,max_num):
        # % or modulo division gives you the remainder 
        if i%num1==0 and i%num2==0:
            print(i,three_mul+five_mul)
        elif i%num1=0:
            print(i,three_mul)
        elif i%num2==0:
            print(i,five_mul)
fizzbuzz()

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3696698957.py, line 13)

Fixed:

In [14]:
def fizzbuzz(max_num):
    "This method implements FizzBuzz"
    three_mul = 'fizz'
    five_mul = 'buzz'
    num1 = 3
    num2 = 5 

    # Google for 'range in python' to see what it does
    for i in range(1,max_num):
        # % or modulo division gives you the remainder 
        if i%num1==0 and i%num2==0:
            print(i,three_mul+five_mul)
        elif i%num1==0:
            print(i,three_mul)
        elif i%num2==0:
            print(i,five_mul)
fizzbuzz(max_num = 31)

3 fizz
5 buzz
6 fizz
9 fizz
10 buzz
12 fizz
15 fizzbuzz
18 fizz
20 buzz
21 fizz
24 fizz
25 buzz
27 fizz
30 fizzbuzz

# Challenge 3

In [15]:
def sum_positive(numbers):
    total = 0
    for num in numbers:
        if num > 0:
            total + num
    return total

sum_positive([1,2,3,4,5,6,7])

0

Fixed:

In [16]:
def sum_positive(numbers):
    total = 0
    for num in numbers:
        if num > 0:
            total = total + num
    return total

sum_positive([1,2,3,4,5,6,7])

28

# 3/6 challenges

## Challenge 1
Original, then fixed:

In [1]:
def add(a, b):
    if a > 0 and b > 0:
        return a + b

result = add(-1, 5)
print(result + 2)

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [19]:
def add(a, b):
    if type(a) == int and type(b) == int:
        if a > 0 and b > 0:
            return a + b
        else:
            raise Exception("Both values must be positive")
    elif type(a) != int or type(b) != int:
        raise Exception("Both values must be integers")

result = add(-1, 5)
print(result)

Exception: Both values must be positive

## Challenge 2

In [20]:
class Person:
    def __init__(self, name):
        '''Initialize the Person object'''
        self.name = name

    def __repr__(self):
        '''Describe the string representation of a Person'''
        return f"{self.name} is {self.age} years old"

p = Person("Phylo")
print(p)

AttributeError: 'Person' object has no attribute 'age'

In [21]:
class Person:
    def __init__(self, name, age):
        '''Initialize the Person object'''
        self.name = name
        self.age = age

    def __repr__(self):
        '''Describe the string representation of a Person'''
        return f"{self.name} is {self.age} years old"

p = Person("Phylo", 12)
print(p)

Phylo is 12 years old

## Challenge 3

In [27]:
class Dog:
    def __init__(self, name):
        self.name = name
    def bark():
        print("Woof!")

d = Dog("Phylo")
d.bark()

TypeError: Dog.bark() takes 0 positional arguments but 1 was given

In [32]:
class Dog:
    def __init__(self, name):
        self.name = name
    def bark(name):
        print("Woof!")

d = Dog("Phylo")
d.bark()

Woof!

# 3/11 Challenges
## Challenge 1

In [2]:
import requests
url = "https://raw.githubusercontent.com/eaton-lab/hack-the-planet/refs/heads/master/docs/data/penguin_data.csv"

with open("penguin_data.csv", 'w') as outfile:
    outfile.write(requests.get(url).text)

data = penguin_data.csv
df = pd.read_csv(data)

NameError: name 'pd' is not defined

In [4]:
import requests
import pandas as pd
url = "https://raw.githubusercontent.com/eaton-lab/hack-the-planet/refs/heads/master/docs/data/penguin_data.csv"

with open("penguin_data.csv", 'w') as outfile:
    outfile.write(requests.get(url).text)

data = "penguin_data.csv"
df = pd.read_csv(data)
df.head()

   culmen.length  culmen.depth  flipper.length  body.mass species
0           39.1          18.7             181       3750  Adelie
1           39.5          17.4             186       3800  Adelie
2           40.3          18.0             195       3250  Adelie
3           36.7          19.3             193       3450  Adelie
4           39.3          20.6             190       3650  Adelie

## Challenge 2

In [5]:
def either_less(a, b, c=4):
    if a or b < c:
        print("Both are less")
    else:
        print("Both aren't less")

either_less(3, 5)

Both are less

In [19]:
def either_less(a, b, c=4):
    if a < c and b < c:
        print("Both are less")
    else:
        print("Both aren't less")

either_less(3, 5)

Both aren't less

## Challenge 3

In [ ]:
if true
print helloworld

In [13]:
if True:
    print("helloworld")

helloworld